.menuBar {
	border: 1px solid rgb(211, 211, 211);
	width: 186px;
	color: #ffffff;
	font-family: "microsoft yahei";
	border-radius: 5px;
	font-size: 14px;
}

.barTitle {
	height: 55px;
	background-color: rgb(25, 119, 176);
	font-weight: bold;
}

.barTitleText {
	float: left;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.menuTitleText {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.menuTitle {
	/* background-color: rgb(25, 119, 176); */
	width: 186px;
	height: 40px;
	margin-left:0;
	margin-top:1px;
	border-radius: 3px;
	cursor: pointer;
}
.menuTitle:hover{
	background-color: rgb(25, 119, 176);
}
.menuTitleIcon {
	margin-top: 10px;
	float: left;
}

.menuContent {
	/*	height:150px;*/
	color: #FFFFFF;
	display: none;
	overflow: auto;
	text-align: center;
}

/* .barBottom {
	background-color: rgb(25, 119, 176);
	width: 186px;
	height: 10px;
} */

a {
	color: #fff;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

a:link {
	TEXT-DECORATION: none
}

a:visited {
	TEXT-DECORATION: none
}

a:hover {
	TEXT-DECORATION: none;
}

a:active {
	TEXT-DECORATION: none; /*underline*/
}

.menuItem {
	height: 30px;
	margin-bottom: 1px;
	/* border: 1px solid transparent; */
	background-color: rgb(121, 201, 236);
	cursor: pointer;
	border-radius: 3px;
	padding-top:10px;
}