table {
	font-size: 10pt;
	width: 700px;
}

.tt {
	border-top: 1px solid #e1ddd4;
	border-bottom: 1px solid #e1ddd4;
	height: 30px;
	background-color: #f9f8f3;
}

.td {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px;
}

body {
	font-size: 10pt;
	color: #404040;
	font-family: "microsoft yahei";
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #018BD3;
}

a:visited {
	color: #018BD3;
}

a:hover {
	color: #FF6600;
}

.divOrder {
	width: 90%;
	font-weight: 900;
	font-size: 15px;
	padding: 20px;
	margin-left: 100px;
	font-family: "microsoft yahei";
}

.divContent {
	width: 750px;
	margin-left: 100px;
	border: 2px solid #15B69A;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 7px;
}

.div2 {
	border-bottom: 1px solid #f2e2d4;
}

dt {
	font-weight: 900;
	font-size: 15px;
	font-family: "microsoft yahei";
	margin: 5px;
}

.title {
	border: 1px solid #d0d0d0;
	background: url(/yosebook-ssm/images/bg_btns.png) repeat-x;
	background-position: 0 -132px;
	margin-left: 2px;
	height: 30px;
	width: 99.8%;
}

td .bookname {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
	width: 300px;
}

#pay {
	margin-top: 10px;
	background: #15B695;
	display: inline-block;
	height: 30px;
	width: 110px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 6px;
	border-radius: 5px;
}
#pay:hover{
	background: #0D8560;
}
.price_t {
	font-size: 15px;
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
}

a {
	text-decoration: none;
}

.tab a:visited {
	color: #018BD3;
}

.tab a:hover {
	color: #FF6600;
	text-decoration: underline;
}

#confirm {
	/* background: url(/yosebook/images/confirm.jpg) no-repeat; */
	background: #15B695;
	display: inline-block;
	height: 30px;
	width: 110px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 6px;
	border-radius: 5px;
	margin-top: 10px;
}
#confirm:hover{
	background: #0D8560;
}
#cancel {
	background: #888;
	display: inline-block;
	height: 30px;
	width: 110px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 6px;
	border-radius: 5px;
	margin-top: 10px;
}
#cancel:hover{
	background: #555;
}