table {
	font-size: 10pt;
}

td {
	padding: 5px;
}

body {
	font-size: 10pt;
	color: #404040;
	font-family: "microsoft yahei";
}

.divMain {
	width: 900px;
	margin-left: 30px;
}

.divTitle {
	border: 1px solid #d0d0d0;
	background: url(/yosebook-ssm/images/bg_btns.png) repeat-x;
	background-position: 0 -132px;
	margin-left: 2px;
	height: 30px;
	width: 99.8%;
	line-height: 30px;
	border-radius: 5px;
}

.price_t {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
	font-size: 10pt;
}

.tt {
	background-color: #efeae5;
	height: 25px;
	color: #878787;
	border-radius: 5px
}
.brlf{
	border-radius: 5px 0 0 5px;
}
.brrt{
	border-radius: 0 5px 5px 0;
}
a {
	text-decoration: none;
	color: #018BD3;
}

a:visited {
	color: #018BD3;
}

a:hover {
	color: #FF6600;
	text-decoration: underline;
}

a.link2 {
	border: 1px solid #ffffff;
	display: inline-block;
}

a.link2:HOVER {
	border: 1px solid #d0d0d0;
	display: inline-block;
}

a.link2:active {
	border: 1px dotted #404040;
	display: inline-block;
}