body {
	font-size: 10pt;
	color: #404040;
	font-family: "microsoft yahei";
}

.divContent {
	width: 880px;
	height: 100px;
	background-color: #efeae5;
	margin-left: 50px;
	line-height: 100px;
	color: #404040;
	border: 5px solid #efeae5;
	border-radius: 7px;
}

.divBank {
	border: 5px solid #efeae5;
	width: 880px;
	height: 450px;
	margin-left: 50px;
	margin-top: 20px;
	border-radius: 7px;
}

.divText {
	font-size: 15px;
	font-weight: 900;
	margin: 20px;
}

.spanPrice {
	font-weight: 900;
	margin-left: 30px;
}

.spanOid {
	font-size: 13px;
	color: #878787;
	padding-top: 10px;
	margin-left: 30px;
}

.price_t {
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-size: 15pt;
}

img {
	margin-right: 25px;
}
img:hover{
	cursor: pointer;
}
input[type="radio"]:hover{
	cursor: pointer;
}
.linkNext {
	background: url(/yosebook-ssm/images/icon2.png) no-repeat;
	display: inline-block;
	background-position: 0 -35px;
	height: 40px;
	width: 190px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: 900;
	color: #ffffff;
	line-height: 40px;
	border-radius: 5px;
}

.linkNext:HOVER {
	background: url(/yosebook-ssm/images/icon2.png) no-repeat;
	display: inline-block;
	background-position: 0 -75px;
	height: 40px;
	width: 190px;
	poorfish: expression(this.onclick = function jiesuan(){return true});
}