* {
	font-size: 10pt;
	text-align: center;
	font-family: "microsoft yahei";
}

body {
	margin: 1px;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}

a:hover {
	text-decoration: underline;
	color: #fff;
}