table {
	font-size: 10pt;
	width: 900px;
}

.tt {
	border-top: 1px solid #e1ddd4;
	border-bottom: 1px solid #e1ddd4;
	height: 30px;
	background-color: #f9f8f3;
	border-radius: 2px;
}

.td {
	border-bottom: 1px solid #f0f0f0;
	padding: 6px 0px 6px;
}

body {
	font-size: 10pt;
	color: #404040;
	font-family: "microsoft yahei";
}

a {
	text-decoration: none;
}

a:visited {
	color: #018BD3;
}

a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.divOrder {
	width: 90%;
	font-weight: 900;
	font-size: 15px;
	padding: 20px;
	margin-left: 100px;
}

.divRow {
	width: 1100px;
	margin-left: 100px;
	border: 2px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

.divContent {
	border-bottom: 1px solid #f2e2d4;
}

dt {
	font-weight: 900;
	font-size: 15px;
	margin: 5px;
	margin-bottom: 10px;
}
.orderTime{
	color: red;
}
.title {
	border: 1px solid #d0d0d0;
	background: url(/yosebook-ssm/images/bg_btns.png) repeat-x;
	background-position: 0 -132px;
	margin-left: 2px;
	height: 30px;
	width: 99.8%;
}

td .bookname {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
	width: 300px;
}

.pay {
	background: url(/yosebook-ssm/images/sprites_orderdetails.gif) no-repeat;
	display: inline-block;
	background-position: 0 -200px;
	height: 34px;
	width: 142px;
	margin-top: 10px;
}

.price_t {
	font-size: 15px;
	color: #c30;
	font-weight: bold;
	padding-right: 10px;
	font-family: Arial;
}

a {
	text-decoration: none;
}

.tab a:visited {
	color: #018BD3;
}

.tab a:hover {
	color: #FF6600;
	text-decoration: underline;
}

#confirm {
	background: url(/yosebook-ssm/images/confirm.jpg) no-repeat;
	display: inline-block;
	height: 34px;
	width: 142px;
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	text-align: left;
	padding-top: 6px;
	padding-left: 30px;
}

#cancel {
	display: inline-block;
	text-decoration: none;
	margin-top:5px;
	padding-top: 2px;
	padding-left: 25px;
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	background: #D23524;
	width: 106px;
	height:30px;
	border: 1px solid #D23524;
	border-radius: 5px;
}

#cancel:hover {
	background: #ab2b1d;
}

#deliver {
	background: #88D700;
	display: inline-block;
	width: 106px;
	height:30px;
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	padding-top: 2px;
	padding-left: 25px;
	text-decoration: none;
	margin-top:10px;
	border: 1px solid #88D700;
	border-radius: 5px;
}

#deliver:hover {
	background: #68a600;
}

.spanTotal {
	font-weight: 900;
	font-size: 15px;
}

.divBtn {
	margin: 10px 10px 10px 900px;
}