body {
	color: #404040;
	font-family: "microsoft yahei";
}

.divBody {
	margin-left: 240px;
}

.divTitle {
	height: 30px;
	width: 880px;
	border: 1px #d0d0d0 solid;
	/* background: url('/yosebook/images/bg_btns.png'); */
	/* background-position: 0px -132px; */
	line-height: 30px;
	border-radius: 3px;
	background: #f2f2f2;
	box-shadow:5px 5px 5px #ddd;
}

.spanTitle {
	font-weight: 900;
	margin-left: 18px;
}

.divCenter {
	width: 880px;
	height: 400px;
	border-left: 1px #d0d0d0 solid;
	border-right: 1px #d0d0d0 solid;
	border-bottom: 1px #d0d0d0 solid;
	border-radius: 3px;
	background: #f2f2f2;
	box-shadow:5px 5px 5px #ddd;
}
.divCenter{
	padding-top:10px;
}
table {
	line-height: 50px;
	
}
.alreadyHave:hover{
	text-decoration: none;
}
.tdLabel {
	text-align: right;
	width: 300px;
}

.tdInput {
	width: 250px;
}

.tdError {
	width: 300px;
}

.labelError {
	line-height: 32px;
	font-size: 10pt;
	color: #f40000;
	/* border: 1px #ffb8b8 solid;
	border-radius:3px; */
	padding: 6px 8px 6px 35px;
	background: url('/yosebook-ssm/images/error.png') no-repeat;
	/* background-color: #fef2f2; */
}

.input {
	width: 240px;
	height: 32px;
	border: 1px #7f9db9 solid;
	border-radius:3px;
	padding-left: 10px;
	line-height: 32px;
}

.verifyCodeImg {
	width: 240px;
	height: 40px;
	/* border: 1px #e2e2e2 solid; */
	display: inline-block;
	line-height: 40px;
	text-align: center;
	/* background: #eee; */
}
#vCode{
	height:40px;
	width: 120px;
}
.btnRegist{
	width: 244px;
	height: 34px;
	border:0;
	background: url('/yosebook-ssm/images/regist1.jpg') no-repeat;
}
.btnRegist:hover{
	background: url('/yosebook-ssm/images/regist2.jpg') no-repeat;
	cursor:pointer;
}
header img.welcome_reg {
	border-left: 1px solid #ccc;
}

header {
	margin-left: 245px;
	margin-top: 18px;
}

section {
	margin-top: 16px;
}
footer {
	margin-top: 50px;
}
footer img{
    width:90px;
    height:35px;
    border-radius: 3px;
}
footer p {
	font-size:12px;
	color:#999;
	text-align: center;
}