body {
	font-size: 10pt;
	color: #404040;
	font-family: "microsoft yahei";
}
input[type="text"],select{
	font-family: "microsoft yahei";
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 5px;
}
select{
	padding-left: 5px;
	cursor: pointer;
}
#show{
	margin-left: 18px;
}
#box{
	margin-left: 18px;
	margin-top: 10px;
}
#box:hover{
	cursor: pointer;
}
label{
	font-size: 13px;
}
label:hover{
	cursor: pointer;
}
.tab {
	margin-top: 15px;
	margin-left: 50px;
	width: 680px;
	font-size: 10pt;
}

.tab td {
	height: 25px;
}

.tp {
	border: 1px solid #dcdcdc;
	float: left;
	margin-top:16px;
}

.sm {
	font-size: 13pt;
	font-weight: 900;
	margin-bottom: 30px;
}

.bd {
	border: 1px solid #dcdcdc;
	background-color: #f5f5f5;
	margin-top: 15px;
	margin-left: 15px;
	margin-left: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
}

ul {
	list-style: none;
}

li {
	margin: 10px;
}

a {
	text-decoration: none;
}

a:visited {
	color: #018BD3;
}

a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.btn {
	border: 0;
	width: 142px;
	height: 33px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 900;
	text-align: left;
	padding-top: 1px;
	padding-left: 32px;
	color: #fff;
}

.editBtn1 {
	background: #F1C22C;
	width: 140px;
	height:35px;
	border: 1px solid #F1C22C;
	border-radius: 5px;
}

.editBtn2 {
	background: #eab13c;
	width: 140px;
	height:35px;
	border: 1px solid #eab13c;
	border-radius: 5px;
	cursor: pointer;
}

.delBtn1 {
	background: #D23524;
	width: 140px;
	height:35px;
	border: 1px solid #D23524;
	border-radius: 5px;
}

.delBtn2 {
	background: #ab2b1d;
	width: 140px;
	height:35px;
	border: 1px solid #ab2b1d;
	border-radius: 5px;
	cursor: pointer;
}