* {
	font-size: 10pt;
}

body {
	text-align: center;
	margin: 0px;
	overflow: hidden;
	margin:0;
}

.table {
	width: 100%;
	height: 100%;
	border-collapse: collapse; /*单线的列表边框*/
}

.table td {
	border: 1px solid gray; /*固定边框,1像素*/
}

iframe {
	width: 100%;
	height: 100%;
}